
  <div class="team__box">
    <div class="team__exit u-margin-b-small">
          <a (click)="backFunc()" matRipple *ngIf="!editWindow && !image">
              <mat-icon>clear</mat-icon>
          </a>
          <a (click)="editWindow = !editWindow" matRipple *ngIf="editWindow">
              <mat-icon>keyboard_arrow_right</mat-icon>
          </a>
      
    </div>
  

  <div class="team__info" *ngIf="!editWindow">
      <div class="team__info-row">
          <span class="team__info-key">
              id:
          </span>
          <span class="team__info-value">
              {{ team.id }}
          </span>
      </div>
      
      <div class="team__info-row">
          <span class="team__info-key">
              Title:
          </span>
          <span class="team__info-value">
              {{ team.team_title }}
          </span>
      </div>
      
      <div class="team__info-row">
          <span class="team__info-key">
              bio:
          </span>
          <span class="team__info-value">
              {{ team.bio }}
          </span>
      </div>
      
      <div class="team__info-row">
          <span class="team__info-key">
              Team Image:
          </span>
          <span class="team__info-value">
              <button mat-raised-button (click)="image = !image">view</button>
          </span>
      </div>
      <div class="team__info-image" *ngIf="image">
        <a (click)="image = !image" matRipple>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
        <img [src]="'http://127.0.0.1:8000' + team.team_photos" alt="team">
      </div>
      
      <div class="team__info-row">
          <span class="team__info-key">
              created at:
          </span>
          <span class="team__info-value">
              {{ team.created_at | date }}
          </span>
      </div>
      
      <div class="team__exit u-margin-t-small">
          <a class="team__edit-btn" (click)="editWindow = !editWindow" mat-button>
              <mat-icon class="team__edit-icon">edit</mat-icon>Edit
          </a>
      </div>


  </div>

  <div class="team__info-edit" *ngIf="editWindow">
        <form [formGroup]="registerTeam" class="team__info-edit__form">

            <div class="form-group">
                <input formControlName="team_title" placeholder="please type team title" required>
                <!-- <div class="alert alert-danger invalid-mesg" *ngIf="team_title.touched && team_title.invalid">this field is required</div> -->
            </div>
    
            <div class="form-group">
                <input formControlName="bio" type="text" placeholder="please type team bio" required>
                <!-- <div class="alert alert-danger invalid-mesg" *ngIf="bio.touched && bio.invalid">this field is required</div> -->
            </div>
    
    
            <div class="form-group">
                <input formControlName="photo" (change)="uploadImgFunc($event)" type="file" placeholder="please photo for this team" required>
                <!-- <div class="alert alert-danger invalid-mesg" *ngIf="photo.touched && photo.invalid">this field is required</div> -->
            </div>
    
            <div formArrayName="team_memebers" *ngFor="let member of registerTeam.get('team_memebers').controls; let i = index;">
                <div class="form-group" [formGroupName]="i">
                    <input formControlName="member_name" type="text" placeholder="please type team member" required>
                </div>
            </div>
            <a mat-button class="add-field" (click)="addMemberField()">
                <mat-icon>add</mat-icon>
            </a>
    
            <div formArrayName="team_skills" *ngFor="let member of teamSkills.controls; let i = index;">
                <div class="form-group" [formGroupName]="i">
                    <input formControlName="skill_name" type="text" placeholder="please type team bio" required>
                </div>
            </div>
            <a mat-button class="add-field" (click)="addSkillField()">
                <mat-icon>add</mat-icon>
            </a>
    
            <div class="form-group" style="text-align: right;">
                <button type="submit" class="registeration__submit" (click)="registerTeamFunc()" mat-raised-button>Add</button>
            </div>
        </form>
    
  </div>

</div>