.u-margin-b-big { margin-bottom: 6rem!important; }
.u-margin-b-medium { margin-bottom: 4rem!important; }
.u-margin-b-small { margin-bottom: 2rem!important; }


.u-margin-t-huge { margin-top: 8rem!important; }
.u-margin-t-big { margin-top: 6rem!important; }
.u-margin-t-medium { margin-top: 4rem!important; }
.u-margin-t-small { margin-top: 2rem!important; }

