<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" [(opened)]='opened'>
        <mat-action-list class="close-btn" (click)="open()">
            <a mat-list-item>
                <mat-icon>arrow_back_ios</mat-icon>
            </a>
          </mat-action-list>
        
            <mat-nav-list>
                <div mat-list-item>
                    <mat-form-field appearance="fill">
                        <mat-icon matSuffix>search</mat-icon>
                        <input matInput type="search">
                    </mat-form-field>
                </div>

                <a mat-list-item [routerLink]="['/dashboard']">
                    <mat-icon matListIcon>equalizer</mat-icon>
                    <h3 matLine> Statistics </h3>
                </a>
                <a mat-list-item [routerLink]="['/users']">
                    <mat-icon matListIcon>people_alt</mat-icon>
                    <h3 matLine> Companies </h3>
                </a>
                <a mat-list-item>
                    <mat-icon matListIcon>build</mat-icon>
                    <h3 matLine> services </h3>
                </a>
                <a mat-list-item>
                    <mat-icon matListIcon>people_alt</mat-icon>
                    <h3 matLine> Companies </h3>
                </a>
                <a mat-list-item>
                    <mat-icon matListIcon>people_alt</mat-icon>
                    <h3 matLine> Companies </h3>
                </a>
              </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>