.mat-ripple{
    overflow:visible;
}
mat-sidenav-container{
    z-index: 0;
    height: 100%;

    .side-menu{
        width: 20rem;
    }
    
    
    & mat-sidenav{
        margin-top: 1rem;
        border-radius: 0 2rem 0 0;
        background-image: linear-gradient(to bottom, rgba(235,62,55,0.9) 0%, rgba(235,62,55,0.6) 93%), url('../../../assets/side-bar-bg.jpg');
        background-position: center;
        background-size: cover;

        
        & mat-nav-list{
            color: #fff;
            .link{
                color: #fff!important;
            }
            .search{
                position: relative;
                &__input{
                    width: 90%;
                    margin: 1rem auto;
                    display: block;
                    margin-bottom: 0;
                    background-color: rgba( #000000, .3);
                    color: #fff;
                    font-size: 1rem;
                    border: none;
                    border-radius: 1rem;
                    padding: 1rem 1.2rem 1rem 2.6rem;
    
                    
                }
                &__input::placeholder{
                    color: #fff;
                }
                &__input:focus{
                    outline: none;
                }
            }

        }
    }
}
::ng-deep.search__icon{
    color: #fff;
    position: absolute !important;
    top: .8rem !important;
    left: 1.4rem !important;

    mat-icon{
        font-size: 2rem;
    }
}