
  <div class="user__box">
      <div class="user__exit u-margin-b-small">
            <a (click)="backFunc()" matRipple *ngIf="!editWindow">
                <mat-icon>clear</mat-icon>
            </a>
            <a (click)="editWindow = !editWindow" matRipple *ngIf="editWindow">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </a>
        
      </div>
    

    <div class="user__info" *ngIf="!editWindow">
        <div class="user__info-row">
            <span class="user__info-key">
                id:
            </span>
            <span class="user__info-value">
                {{ userData.id }}
            </span>
        </div>
        
        <div class="user__info-row">
            <span class="user__info-key">
                name:
            </span>
            <span class="user__info-value">
                {{ userData.name }}
            </span>
        </div>
        
        <div class="user__info-row">
            <span class="user__info-key">
                email:
            </span>
            <span class="user__info-value">
                {{ userData.email }}
            </span>
        </div>
        
        <div class="user__info-row">
            <span class="user__info-key">
                role:
            </span>
            <span class="user__info-value">
                {{ userData.role }}
            </span>
        </div>
        
        <div class="user__info-row">
            <span class="user__info-key">
                created at:
            </span>
            <span class="user__info-value">
                {{ userData.created_at | date }}
            </span>
        </div>
        
        <div class="user__exit u-margin-t-small">
            <a class="user__edit-btn" (click)="editWindow = !editWindow" mat-button>
                <mat-icon class="user__edit-icon">edit</mat-icon>Edit
            </a>
        </div>


    </div>

    <div class="user__info-edit" *ngIf="editWindow">
        <form [formGroup]="edit" class="user__info-edit__form">
            <div class="form-group">
                <input formControlName="name" placeholder="please type your Name">
            </div>
            <div class="form-group">
                <input formControlName="email" [class.invalid]="email.invalid" type="email" placeholder="please type your Email" email>
                <div class="alert alert-danger invalid-mesg" *ngIf="email.touched && email.invalid">{{ email.errors | json }}</div>
            </div>
            <div class="form-group" style="position: relative;">
                <input formControlName="password" [class.invalid]="password.invalid" [type]="hide ? 'password' : 'text'" placeholder="password here" required minlength="8">
                <button class="user__info-edit__eye-btn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
                <div class="alert alert-danger invalid-mesg" *ngIf="password.touched && password.invalid && password.errors.minlength">password must be {{ password.errors.minlength.requiredLength }}.</div>
            </div>
            <div class="form-group" style="position: relative;">
                <input formControlName="new_password" [class.invalid]="new_password.invalid" [type]="hide2 ? 'password' : 'text'" placeholder="password here" minlength="8">
                <button class="user__info-edit__eye-btn" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
                <div class="alert alert-danger invalid-mesg" *ngIf="new_password.touched && new_password.invalid && new_password.errors.minlength">password must be {{ password.errors.minlength.requiredLength }}.</div>
            </div>
            <div class="form-group" style="text-align: right;">
                <button type="submit" class="edit__submit" (click)="editFunc()" mat-raised-button>Submit</button>
            </div>
        </form>
    </div>

  </div>